.search-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}

.search-form__search-input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-form__search-btn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .search-form {
    flex-direction: row;
  }

  .search-form__search-input {
    width: 75%;
  }

  .search-form__search-btn {
    width: 20%;
  }
}
