body {
  background-color: #aaa;
}
.main-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-content {
    flex-direction: row;
    align-items: flex-start;
  }
}
