@import "./colors";

.btn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-error {
  background-color: $colorError;
}

.btn-warning {
  background-color: $colorWarning;
}

.btn-success {
  background-color: $colorSuccess;
}
