body {
    margin: 0;
}

.billboard-content {
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: 100px;
    background-color: #83D0F2;
}

.billboard-header {
    color: white;
    background-color: #333;
    font-weight: 300;
    display: inline;
    padding: 0 4px;
}

.billboard-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 64px;
    padding: 0 15%;
}

.billboard-btn {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px;
    margin: 8px 16px;
    padding: 8px 0;
    font-size: 1.25rem;
    color: black;
    text-decoration: none;
    min-width: 250px;
    cursor:pointer;
}

.fa-arrow-right {
    font-size: 16px;
}

.container {
    padding: 30px 5%;
    display: flex;
    flex-wrap: wrap;
}

.firefox-img {
    flex: 1;
    border: 1px solid #999;
    box-shadow: 1px 1px 1px 1px #eee;
    height: 200px;
    margin-right: 30px;
    position: relative;
}

.firefox-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #015FDF;
    border-radius: 5px;
    height: 32px;
    color: white;
    font-size: 1.05rem;
    border: none;
    padding: 8px;
    font-weight: bold;
}

.newsletter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 2;
    align-items: center;
    background-color: #C2E8F9;
    border-top: solid 3px #333;
    margin-left: 30px;
    padding: 10px;
}

.newsletter-desc {
    padding: 10px;
}

.newsletter-form {
    justify-content: stretch;
    flex-direction: column;
    padding: 10px;
    display: flex;
}

.newsletter-input {
    border: 2px solid;
}

.newsletter-text-input {
    padding: 0 8px;
    border-color: #888;
    height: 48px;
}

.newsletter-btn {
    margin-top: 8px;
    border-color: #3D7E9A;
    color: #3D7E9A;
    font-weight: bold;
    height: 52px;
    cursor:pointer;
}

@media screen and (max-width: 1200px) {
    .billboard-btn-container {       
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        min-height: 600px;
    }

    .firefox-img, .newsletter {
        flex: 1;
        margin-left: 0;
        margin-right: 0;
        margin-top: 16px;
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter-form {
        flex-direction: row;
    }

    .newsletter-text-input, .newsletter-btn {
        margin: 0 0 0 4px;
    }

    .billboard-content {
        padding: 100px 0;
    }
}

/* Forward */
.hvr-forward {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

.hvr-forward:hover {
-webkit-transform: translateX(8px);
transform: translateX(8px);
}